$primary-green-color: #495024
$light-green-color: #98AD55
$light-yellow-color: #F2D697
$dark-yellow-color: #F0A74C
$yellow-gradient: linear-gradient(90deg, $light-yellow-color 0%, $dark-yellow-color 100%)
$radius: 11px
$font: 'Maven Pro', sans-serif
$text-color: #4D4D4F
